@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: '微软雅黑';
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}
b,
strong {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
a,
u,
del,
ins {
  text-decoration: none;
}
img {
  border: 0;
  display: block;
}
input,
fieldset {
  outline: none;
  border: 0;
}
.clearfix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
}
.clear_fix {
  zoom: 1;
}
a:hover {
  text-decoration: none;
}
header .footer-top {
  padding: 0;
  background-color: #ce0b22;
}
.nav-top {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #999999;
  background-color: #f2f2f2;
}
.nav-top a {
  text-decoration: none !important;
}
.nav-top .nav-top-left a {
  margin-left: 10px;
  color: #999999;
}
.nav-top .nav-top-right ul {
  margin-bottom: 0;
}
.nav-top .nav-top-right li {
  position: relative;
  padding: 0 10px;
  float: left;
}
.nav-top .nav-top-right li:hover {
  background-color: white;
}
.nav-top .nav-top-right li > div {
  position: relative;
}
.nav-top .nav-top-right li > div .menu {
  font-size: 12px;
  color: #999999;
  vertical-align: middle;
}
.nav-top .nav-top-right li > div .menu i {
  position: relative;
  top: -2px;
  color: red;
  vertical-align: middle;
}
.nav-top .nav-top-right li > div .menu > b {
  width: 0;
  height: 0;
  position: absolute;
  top: 47%;
  right: -6px;
  border: 3px solid transparent;
  border-top-color: #999999;
}
.nav-top .nav-top-right li > div .menu-content {
  position: absolute;
  top: 30px;
  left: -11px;
  padding: 10px 0;
  width: 180%;
  background-color: white;
  display: none;
  border: 0.5px solid #eee;
  border-top: 0;
}
.nav-top .nav-top-right li > div .menu-content > a {
  display: block;
  color: #999999;
  line-height: 15px;
  font-size: 12px;
}
.nav-top .nav-top-right .nav-mydivid {
  padding: 0 5px;
  border-right: 1px solid #999999;
  width: 1px;
  height: 14px;
  margin-top: 8px;
}
.nav-top .nav-top-right .nav-mylist .menu .iconfont {
  font-size: 12px;
  position: relative;
  top: 1px;
}
a {
  text-decoration: none !important;
}
.nav-search img {
  width: 240px;
  margin-left: 100px;
}
.nav-search .search {
  width: 625px;
  height: 40px;
  border: 2px solid red;
  margin-top: 40px;
}
.nav-search .search .search-left {
  padding: 0;
}
.nav-search .search .search-left input {
  width: 100%;
  height: 36px;
  outline: none;
}
.nav-search .search .search-right {
  height: 37px;
  background-color: red;
  color: white;
  line-height: 35px;
  font-size: 18px;
  cursor: pointer;
}
.nav-list {
  width: 100%;
  border-bottom: 1px solid red;
}
.nav-list .productlist {
  position: relative;
  margin-left: 120px;
  width: 200px;
  height: 35px;
  line-height: 36px;
  background: #ff0036;
  color: white;
  font-weight: 600;
}
.nav-list .productlist > .iconfont {
  padding: 0 5px 0 10px;
  font-size: 12px;
}
.nav-list .productlist .tabs .menu-left {
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 1000;
}
.nav-list .productlist .tabs .menu-left i {
  padding: 0 5px 0 10px;
}
.nav-list .productlist .tabs .menu-left > li {
  width: 200px;
  height: 31.2px;
  line-height: 31.2px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
.nav-list .productlist .tabs .menu-left > li > a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
.nav-list .productlist .tabs .menu-right {
  z-index: 1000;
  width: 760px;
  height: 500px;
  position: absolute;
  top: 36px;
  left: 200px;
  padding: 20px 30px;
  background-color: white;
  display: none;
}
.nav-list .productlist .tabs .menu-right > dl {
  font-size: 14px;
  margin-bottom: 10px;
  overflow: hidden;
}
.nav-list .productlist .tabs .menu-right > dl dt,
.nav-list .productlist .tabs .menu-right > dl dd {
  float: left;
}
.nav-list .productlist .tabs .menu-right > dl dt {
  font-weight: 600;
  margin-right: 20px;
  color: black;
}
.nav-list .productlist .tabs .menu-right > dl dd {
  width: 500px;
  padding-bottom: 10px;
}
.nav-list .productlist .tabs .menu-right > dl dd > a {
  font-weight: 400;
  color: #666666;
  margin-left: 15px;
}
.nav-list .nav-list-shop {
  margin-left: 65px;
}
.nav-list .nav-list-shop > a {
  padding: 0 8px;
  color: #333333;
  float: left;
  line-height: 35px;
}
.nav-list .nav-list-shop > a > img {
  width: 100px;
  margin-top: 3px;
}
.nav-list .nav-list-shop > a:hover {
  color: red;
}
.swiper ol > li {
  width: 20px;
  height: 8px;
  border-radius: 2px;
}
.swiper ol .active {
  width: 20px;
  height: 8px;
  margin-bottom: 1px;
  border-radius: 2px;
}
.swiper .carousel-inner .item > img {
  display: block;
  margin: 0 auto;
}
.swiper .carousel-inner .item:nth-of-type(1) {
  background-color: #e8e8e8;
}
.swiper .carousel-inner .item:nth-of-type(2) {
  background-color: #bdbdbd;
}
.swiper .carousel-inner .item:nth-of-type(3) {
  background-color: #7899f4;
}
.swiper .carousel-inner .item:nth-of-type(4) {
  background-color: #f8751b;
}
.main-content {
  padding-top: 50px;
  background-color: #f5f5f5;
}
.main-content li {
  width: 234px;
  height: 301px;
  position: relative;
  margin-left: 14.76px;
  margin-bottom: 15px;
  float: left;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: white;
}
.main-content li > a {
  color: black;
}
.main-content li > a > img {
  width: 185px;
  margin-top: 20px;
}
.main-content li > a > p {
  width: 135px;
  height: 40px;
  margin-top: 8px;
  overflow: hidden;
  font-size: 14px;
}
.main-content li > a > span {
  display: block;
  text-align: center;
  margin: 8px 0;
  font-size: 18px;
  color: red;
}
.main-content li .masking {
  position: absolute;
  left: 0;
  top: 0;
  width: 234px;
  height: 300px;
  background: rgba(255, 255, 255, 0.2);
  display: none;
}
.main-content li:hover .masking {
  display: block;
}
.main-content li:hover {
  border-color: red;
}
.section1 {
  margin-top: 20px;
  padding-bottom: 20px;
}
.section1 a {
  display: block;
}
.section1 a img {
  width: 214px;
}
.section1 .section-content {
  margin-top: 10px;
}
.section1 .section-content .section1-left {
  position: relative;
  width: 235px;
  float: left;
}
.section1 .section-content .section1-left div:nth-of-type(1) {
  position: absolute;
  left: 0;
  bottom: 130px;
  width: 70px;
  height: 64px;
  background: rgba(0, 0, 0, 0.9);
}
.section1 .section-content .section1-left div:nth-of-type(1) > span {
  display: block;
  color: white;
  font-size: 18px;
  line-height: 24px;
  width: 36px;
  margin-top: 6px;
}
.section1 .section-content .section1-left div:nth-of-type(2) {
  position: absolute;
  left: 70px;
  bottom: 130px;
  width: 128px;
  height: 64px;
  background: rgba(0, 0, 0, 0.6);
}
.section1 .section-content .section1-left div:nth-of-type(2) > span {
  display: block;
  color: white;
  font-size: 18px;
  line-height: 24px;
  width: 114px;
  text-align: center;
}
.section1 .section-content .section1-left div:nth-of-type(2) > span:nth-of-type(1) {
  margin-top: 7px;
}
.section1 .section-content .section1-left img:nth-of-type(2) {
  width: 32px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.section1 .section-content .section1-right {
  float: left;
  width: 995px;
  height: 618px;
}
.section1 .section-content .section1-right ul > li:first-child {
  width: 481px;
  height: 300px;
  background-color: #fbfbfb;
}
.section1 .section-content .section1-right ul > li:first-child > .box {
  width: 462px;
  height: 282px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  background-color: white;
}
.section1 .section-content .section1-right ul > li:first-child > .box > img {
  display: block;
  width: 200px;
  float: right;
  margin-right: 30px;
}
.section1 .section-content .section1-right ul > li:first-child > .box > p {
  background-color: #f1f1f1;
}
.section1 .section-content .section1-right ul > li:first-child > .box > p > span {
  display: block;
  height: 57px;
  line-height: 57px;
  width: 230px;
  font-size: 18px;
  color: white;
  background-color: #00b262;
}
.section1 .section-content .section1-right ul > li:first-child > .box .box-content {
  position: absolute;
  width: 290px;
  left: 0;
  top: 150px;
  height: 87px;
  text-align: center;
  line-height: 32px;
  background: url(https://img.alicdn.com/tfs/TB1AnTXewMPMeJjy1XcXXXpppXa-290-87.png) no-repeat;
}
.section1 .section-content .section1-right ul > li:first-child > .box .box-content > P {
  color: #00b262;
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 0 0;
}
.section1 .section-content .section1-right ul > li:first-child > .box .box-content > span {
  display: block;
  font-size: 20px;
}
.section1 .section-content .section1-right ul > li:first-child > .box .masking {
  position: absolute;
  left: 0;
  top: 0;
  width: 462px;
  height: 282px;
  background: rgba(255, 255, 255, 0.2);
  display: none;
}
.section1 .section-content .section1-right ul > li:first-child > .box:hover .masking {
  display: block;
}
.section2 {
  margin-top: 20px;
  padding-bottom: 20px;
}
.section2 > a {
  display: block;
}
.section2 > a img {
  width: 214px;
}
.section2 .section2-content {
  margin-top: 10px;
}
.section2 .section2-content .section2-left {
  float: left;
}
.section2 .section2-content .section2-left .img-top:first-child {
  margin-bottom: 13px;
}
.section2 .section2-content .section2-left .img-top {
  position: relative;
  width: 235px;
}
.section2 .section2-content .section2-left .img-top div:nth-of-type(1) {
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 70px;
  height: 64px;
  background: rgba(0, 0, 0, 0.9);
}
.section2 .section2-content .section2-left .img-top div:nth-of-type(1) > span {
  display: block;
  color: white;
  font-size: 18px;
  line-height: 24px;
  width: 36px;
  margin-top: 6px;
}
.section2 .section2-content .section2-left .img-top div:nth-of-type(2) {
  position: absolute;
  left: 70px;
  bottom: 60px;
  width: 128px;
  height: 64px;
  background: rgba(0, 0, 0, 0.6);
}
.section2 .section2-content .section2-left .img-top div:nth-of-type(2) > span {
  display: block;
  color: white;
  font-size: 18px;
  line-height: 24px;
  width: 114px;
  text-align: center;
}
.section2 .section2-content .section2-left .img-top div:nth-of-type(2) > span:nth-of-type(1) {
  margin-top: 7px;
}
.section2 .section2-content .section2-left .img-top img:nth-of-type(1) {
  width: 235px;
}
.section2 .section2-content .section2-left .img-top img:nth-of-type(2) {
  width: 32px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.section2 .section2-content .section2-right {
  float: left;
  width: 995px;
  height: 618px;
}
.section2 .section2-content .section2-right ul > li:first-child > img {
  display: block;
  width: 170px;
  margin-top: 30px;
}
.section2 .section2-content .section2-right ul > li:first-child > p {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 20px;
}
.section2 .section2-content .section2-right ul > li:first-child > span {
  font-size: 14px;
  color: #7a45e5;
}
.section2 .section2-content .section2-right ul > li:first-child p,
.section2 .section2-content .section2-right ul > li:first-child span {
  margin-left: 20px;
}
.banner-img {
  overflow: hidden;
}
.section3 {
  margin-top: 20px;
}
.section3 > a {
  display: block;
  height: 27px;
  color: black;
}
.section3 > a > em {
  display: inline-block;
  width: 5px;
  height: 18px;
  position: relative;
  top: 3px;
  background-color: #333333;
}
.section3 > a > span:nth-of-type(1) {
  font-size: 18px;
}
.section3 .section3-content {
  margin-top: 10px;
}
.section3 .section3-content .section3-left {
  position: relative;
  width: 235px;
  float: left;
}
.section3 .section3-content .section3-left div:nth-of-type(1) {
  position: absolute;
  left: 0;
  bottom: 130px;
  width: 70px;
  height: 64px;
  background: rgba(0, 0, 0, 0.9);
}
.section3 .section3-content .section3-left div:nth-of-type(1) > span {
  display: block;
  color: white;
  font-size: 18px;
  line-height: 24px;
  width: 36px;
  margin-top: 6px;
}
.section3 .section3-content .section3-left div:nth-of-type(2) {
  position: absolute;
  left: 70px;
  bottom: 130px;
  width: 128px;
  height: 64px;
  background: rgba(0, 0, 0, 0.6);
}
.section3 .section3-content .section3-left div:nth-of-type(2) > span {
  display: block;
  color: white;
  font-size: 18px;
  line-height: 24px;
  width: 114px;
  text-align: center;
}
.section3 .section3-content .section3-left div:nth-of-type(2) > span:nth-of-type(1) {
  margin-top: 7px;
}
.section3 .section3-content .section3-left img:nth-of-type(1) {
  width: 235px;
  height: 618px;
}
.section3 .section3-content .section3-left img:nth-of-type(2) {
  width: 32px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.section4 {
  margin-top: 20px;
}
.section4 > a {
  display: block;
  height: 27px;
  color: black;
}
.section4 > a > em {
  display: inline-block;
  width: 5px;
  height: 18px;
  position: relative;
  top: 3px;
  background-color: #333333;
}
.section4 > a > span:nth-of-type(1) {
  font-size: 18px;
}
.section4 .section4-content {
  margin-top: 10px;
}
.section4 .section4-content .section4-left {
  position: relative;
  width: 235px;
  float: left;
}
.section4 .section4-content .section4-left div:nth-of-type(1) {
  position: absolute;
  left: 0;
  bottom: 130px;
  width: 70px;
  height: 64px;
  background: rgba(0, 0, 0, 0.9);
}
.section4 .section4-content .section4-left div:nth-of-type(1) > span {
  display: block;
  color: white;
  font-size: 18px;
  line-height: 24px;
  width: 36px;
  margin-top: 6px;
}
.section4 .section4-content .section4-left div:nth-of-type(2) {
  position: absolute;
  left: 70px;
  bottom: 130px;
  width: 128px;
  height: 64px;
  background: rgba(0, 0, 0, 0.6);
}
.section4 .section4-content .section4-left div:nth-of-type(2) > span {
  display: block;
  color: white;
  font-size: 18px;
  line-height: 24px;
  width: 114px;
  text-align: center;
}
.section4 .section4-content .section4-left div:nth-of-type(2) > span:nth-of-type(1) {
  margin-top: 7px;
}
.section4 .section4-content .section4-left img:nth-of-type(1) {
  width: 235px;
  height: 618px;
}
.section4 .section4-content .section4-left img:nth-of-type(2) {
  width: 32px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.end {
  width: 80px;
  height: 45px;
  background: url(https://img.alicdn.com/tps/TB1wQDAPXXXXXXgaFXXXXXXXXXX-62-35.png) no-repeat;
  background-size: 80px;
  margin-bottom: 20px;
}
footer .footer-top {
  padding-top: 22px;
  width: 1190px;
  background: url(https://img.alicdn.com/tfs/TB1dl28RXXXXXbzaFXXXXXXXXXX-136-50.png) 52px 100% no-repeat;
  background-size: 60px;
  border-top: 1px solid #ededed;
}
footer .footer-top .footer-list {
  padding-left: 52px;
}
footer .footer-top .footer-list > dt {
  width: 186px;
  color: #646464;
  line-height: 30px;
}
footer .footer-top .footer-list > dd {
  width: 186px;
  height: 20px;
}
footer .footer-top .footer-list > dd > a {
  font-size: 12px;
  color: #8b8b8b;
}
footer .footer-top .footer-list > dd > a > img {
  width: 105px;
}
footer .footer-bottom {
  border-top: 1px solid red;
  background-color: #000000;
  padding-bottom: 20px;
}
footer .footer-bottom .footer-content {
  width: 1190px;
}
footer .footer-bottom .footer-content > p {
  margin: 0;
}
footer .footer-bottom .footer-content a {
  color: white;
  line-height: 25px;
  font-size: 12px;
  margin-right: 5px;
}
footer .footer-bottom .footer-content .tmall-about {
  padding: 5px 0;
}
footer .footer-bottom .footer-content .tmall-link {
  padding: 5px 0;
  font-size: 12px;
  color: white;
}
footer .footer-bottom .footer-content .relation {
  color: #a4a4a4;
  font-size: 12px;
}
footer .footer-bottom .footer-content .relation a,
footer .footer-bottom .footer-content .relation span {
  color: #a4a4a4;
  font-size: 12px;
  margin-right: 65px;
}
footer .footer-bottom .footer-content .relation a > img,
footer .footer-bottom .footer-content .relation span > img {
  display: inline-block;
}
footer .footer-bottom .footer-content .relation b {
  font-weight: 400;
  color: #686868;
}
footer .footer-bottom .footer-content .relation p {
  padding: 10px 0 5px 0;
  margin: 0;
}
footer .footer-bottom .footer-content .relation p > a {
  margin-right: 5px;
}
footer .footer-bottom .footer-content .relation p > a img {
  height: 30px;
  display: inline-block;
}
@media (min-width: 1200px) {
  html body .container {
    width: 1235px !important;
    padding: 0;
  }
}
.choose {
  background-color: skyblue !important;
}
.displayed {
  display: block !important;
}
